.navbar .auth-nav-dropdown i {
    font-size: 1.4rem;
}

.navbar .main-nav-link {
    font-weight: bold;
}

.navbar .main-nav-link.active {
    color: #37FDFC !important;
}

.navbar .navbar-brand.active {
    color: #fff !important;
}

.searchInput {
    padding: 0.1rem 0.3rem;
}

@media (max-width: 768px) {
    .navbar .form-inline .custom-select, .form-inline .input-group {
        padding: 1rem 0;
    }
}
