.text-main {
    color: #37FDFC !important;
}

.text-main:hover {
    color: #00CDCD !important;
}

.container {
    max-width: 85vw !important;
}

.c-container {
    margin: 0 auto;
    padding: 1rem;
}

.hallow-loader {
    height: 100vh;
    width: 100vw;
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: center;
}

.spinner-wrapper {
    flex: 1;
    display: flex;
    align-content: center;
    justify-content: center;
    padding: 1rem;
}

.spinner-wrapper div {
    box-sizing: content-box;
    line-height: 0;
}

.spinner-wrapper div div {
    box-sizing: content-box;
}

.dark-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    text-align: center;
    color: white;
}

.dark-overlay p {
    font-size: 2rem;
    text-decoration: bold;
    padding: auto;
    padding-top: 14rem;
    z-index: 1;
}

.c-text-center {
    text-align: center;
}

.c-text-small {
    font-size: 0.9rem;
    color: #858585;
}

.bottom-line {
    height: 2px;
    width: 3rem;
    background: #19d323;
    left: 0;
    margin: 0.2rem auto 1rem 0;
}

a {
    text-decoration: none;
}

.c-btn-main,
.c-btn-main-outline,
.c-btn-green,
.c-btn-red {
    display: inline-block;
    font-size: 1.1rem;
    text-align: center;
    text-transform: uppercase;
    padding: 0.8rem 2rem;
    transition: all 0.5s;
    cursor: pointer;
}

.c-btn-main:focus, .c-btn-main:active,
.c-btn-main-outline:focus, .c-btn-main-outline:active {
    outline: none !important;
    box-shadow: none;
}

.c-btn-main-outline {
    color: #37FDFC;
    background-color: #100C08;
    border-color: #37FDFC !important;
}

.c-btn-main-outline:hover {
    color: #fff;
    background-color: #37FDFC;
    border-color: #100C08 !important;
}

.c-btn-main {
    color: #fff;
    background-color: #37FDFC;
}

.c-btn-main:hover {
    color: #fff;
    background-color: #00CDCD;
}

.c-btn-green {
    color: #fff;
    background-color: #19d323;
}

.c-btn-red {
    color: #fff;
    background-color: #db1515;
}

button[class^="c-btn-"]:hover,
a[class^="c-btn-"]:hover,
input[class^="c-btn-"]:hover {
    background-color: rgba(32, 32, 32, 0.9);
    color: #fff;
}

.c-list {
    list-style-type: none;
}

.c-card {
    background: #fff;
    border: 1px solid #e9e9e9;
    border-radius: 4px;
    padding: 1rem;
    -webkit-box-shadow: 0 10px 6px -6px #777;
    -moz-box-shadow: 0 10px 6px -6px #777;
    box-shadow: 0 10px 6px -6px #777;
}

.c-card-img {
    max-width: 100%;
    height: auto;
}

.c-card-dark {
    background: #000;
    color: #fff;
}

.c-badge {
    display: inline-block;
    text-transform: uppercase;
    text-decoration: bold;
    color: #fff;
    font-size: 1rem;
    padding: 0.3rem 0.7rem;
    border-radius: 20px;
    background: #0d9e0d;
}

.shadow-card {
    padding: 1rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-card table thead th {
    border-top: none;
}

.c-bg-light {
    background: #100C08 !important;
}

.dropdown-menu {
    border: none !important;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.dropdown-item:active,
.dropdown-item:focus,
.dropdown-item.active {
    background-color: #37FDFC;
    color: #000;
}

.form-control:focus,
.navbar-toggler:focus {
    border-color: #37FDFC;
    box-shadow: none;
}
