#track-wrapper #track-content-wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: start;
}

#track-wrapper #list-table-wrapper {
    height: 360px;
    overflow-y: auto;
}

#track-wrapper .trackItem {
    width: 100%;
}

#track-wrapper .trackItem:hover {
    cursor: pointer;
}

#player-wrapper {
    box-sizing: border-box;
    min-width: 100%;
    max-width: 100%;
    background: #282828;
    padding: 0.5rem 1rem;
    border-radius: 4px;
}