.game-carousel .multiple-items .card {
    width: auto;
    margin: 0 0.4rem 0 0.4rem;
    border: none !important;
}

.game-carousel .multiple-items .card:hover {
    opacity: 0.9;
    cursor: pointer;
}

.game-carousel .multiple-items .card .card-img-top {
    width: 100%;
    height: 200px;
    object-fit: cover;
}

.game-carousel .multiple-items .card .card-footer {
    background: #100C08;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.game-carousel .multiple-items .card .card-footer .footer-title {
    font-weight: bold;
}
