.game-carousel i {
    position: absolute;
    text-align: center;
    background: rgba(0, 0, 0, 0.7);
    color: #fff;
    cursor: pointer;
    padding: 1rem 1.5rem;
    margin: 0;
    z-index: 1;
}

.game-carousel i:hover {
    background: #fff;
    color: #37FDFC;
}

.game-carousel #left-arrow,
.game-carousel #right-arrow {
    border-radius: 100%;
    top: 30%;
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.game-carousel #left-arrow {
    left: 7px;
}

.game-carousel #right-arrow {
    right: 7px;
}
