#list-table-wrapper {
    color: #fff !important;
}

#list-table-wrapper .item-td, #list-table-wrapper th {
    border: none !important;
}

.btn {
    font-size: 0.7rem !important;
    font-weight: bold;
}

#holderInfo {
    font-size: 0.9rem;
}

#trackHolderCover {
    border-radius: 4px;
}