.track-item {
    border-radius: 6px;
    font-size: 1rem;
}

.track-item td {
    padding: 0.2rem;
}

.track-item:hover {
    background: #282828 !important;
}

.track-info {
    line-height: 1.2rem;
}

.artist {
    font-size: 0.8rem;
}