.result-item {
    border-radius: 6px;
    font-size: 1rem;
}

.result-item td {
    padding: 0.2rem;
}

.result-item:hover {
    background: #282828 !important;
}

.result-item .track-info {
    line-height: 1.2rem;
}
