.pulses-wrapper .cards-wrapper .card {
  font-size: 1rem;
  margin-bottom: 3rem;
}

.pulses-wrapper .cards-wrapper .card .card-img-bottom {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.pulses-wrapper .cards-wrapper .card .card-body .card-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
