#tables .row .col-md-4 .c-t-col .header-content .col-title {
  font-weight: bolder;
  font-size: 1.2rem;
  text-transform: uppercase;
  white-space: nowrap;
  margin-right: 2rem !important;
}

#tables .row .col-md-4 .c-t-col .header-content .col-title a {
  color: #000;
}

#tables .row .col-md-4 .c-t-col .bottom-line {
  background: rgb(255, 207, 64);
  margin-bottom: 1.5rem;
}
