#tables .row .col-md-4 .c-t-col .c-t-item {
  display: flex;
  align-content: flex-end;
  justify-content: flex-start;
  margin-bottom: 1.5rem;
}

#tables .row .col-md-4 .c-t-col .c-t-item img {
  width: 40px;
  height: 40px;
}

#tables .row .col-md-4 .c-t-col .c-t-item img:hover {
  cursor: pointer;
}

#tables .row .col-md-4 .c-t-col .c-t-item .c-t-item-content {
  font-size: 0.9rem;
  max-width: 150px;
  line-height: 1rem;
}

#tables .row .col-md-4 .c-t-col .c-t-item .c-t-item-content a {
  display: block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

#tables .row .col-md-4 .c-t-col .c-t-item .c-t-item-content a:hover {
  color: #ffcf40;
}
