#articles {
  margin-bottom: 5rem;
}

#articles .articles-c-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 1rem;
  margin-bottom: 2rem;
}

#articles .c-iframe-wrapper {
  position: relative;
  flex: 1;
  display: flex;
  overflow: hidden;
  padding-top: 56.25%;
}

#articles .c-iframe-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 768px) {
  #a-header,
  #p-header,
  #n-header {
    margin: auto;
  }

  #articles .articles-c-container {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}
