.search-results {
  margin-top: 2rem;
}

.search-results .container {
  max-width: 50vw !important;
}

.search-results-header {
  color: #b8b8b8;
  text-transform: uppercase;
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.search-results-c-container {
  display: grid;
  grid-template-columns: 1fr;
  justify-content: center;
  align-items: center;
  margin-bottom: 5rem;
}
